.boxer{
      background: linear-gradient(to right,#33ffcc,#ff99cc);
      background-size: cover;
}
.head-styls{
      font-family: roboto;
      font-size: 20px;
      padding: 8px;
      color: #33ffcc;
      text-decoration: none;
     

}
.head-styls:hover{
      color: #ff99cc;
      transition:1s;
}
.head-styls:active{
      color: #ff99cc;
}